{% extends 'blogapp/main.html' %}

{% block content %}
<br>
<style>
body{
  width: 100%;
}
.row{
    height: 75vh;
    margin-top: 10vh;
}
h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid rgb(192, 55, 55);
  width: 80px;
}
</style>

          <div class="row">
            <!--Grid column-->
            <div class="col-md-12 mb-4 white-text text-center">
              <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown" data-wow-delay="0.3s"><strong>Rajesh Pandey</strong></h1>
              <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">
              <h5 class="text-uppercase mb-4 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>Full stack developer</strong></h5>
              <a class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s">Portfolio</a>
              <a class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s" href="">About me</a>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        
{% endblock %}